<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}SCOI {% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'require/favicon.png'%}" />
</head>

<body>
  <main id="app">

  </main>
  <script type="text/javascript" src="{% static 'javascript/bundle.js' %}?1.0.2"></script>
</body>

</html>